Repository hedgedoc/react-client, pull requests merged in 2020-09, with the labels that each got.

#521 added title attribute to images
  src/components/markdown-renderer/replace-components/image/image-frame.tsx
  src/components/markdown-renderer/replace-components/image/image-replacer.tsx
Labels: ready to merge, renderer

#514 add missing autocompletions
  cypress/integration/autocompletion.spec.ts
  src/components/editor/editor-pane/autocompletion/code-block.ts
  src/components/editor/editor-pane/autocompletion/container.ts
  src/components/editor/editor-pane/autocompletion/emoji.ts
  src/components/editor/editor-pane/autocompletion/header.ts
  src/components/editor/editor-pane/autocompletion/image.ts
  src/components/editor/editor-pane/autocompletion/index.ts
  src/components/editor/editor-pane/autocompletion/link-and-extra-tag.ts
  src/components/editor/editor-pane/autocompletion/pdf.ts
  src/components/editor/editor-pane/editor-pane.tsx
  src/redux/user/methods.ts
Labels: editor

#527 Replace editor toolbar dividers with css pseudo-selector
  src/components/editor/editor-pane/tool-bar/tool-bar.scss
  src/components/editor/editor-pane/tool-bar/tool-bar.tsx
Labels: code quality, editor

#283 Add clickable todos
  package.json
  src/components/editor/app-bar/help-button/cheatsheet.tsx
  src/components/editor/document-renderer-pane/document-render-pane.tsx
  src/components/editor/editor.tsx
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/task-list/task-list-replacer.tsx
  src/external-types/markdown-it-task-lists/index.d.ts
  yarn.lock
Labels: editor, enhancement

#528 adjust some review suggestions
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/task-list/task-list-replacer.tsx
  yarn.lock
Labels: enhancement, ready to merge

#511 Improve render performance
  cypress/integration/toolbar.spec.ts
  package.json
  src/components/editor/document-renderer-pane/document-render-pane.tsx
  src/components/history-page/utils.ts
  src/components/markdown-renderer/markdown-it-plugins/line-number-marker.ts
  src/components/markdown-renderer/markdown-renderer.scss
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/renderer-utils.ts
  src/components/markdown-renderer/replace-components/ComponentReplacer.ts
  src/components/markdown-renderer/replace-components/asciinema/asciinema-replacer.tsx
  src/components/markdown-renderer/replace-components/codimd-linemarker/codimd-linemarker-replacer.tsx
  src/components/markdown-renderer/replace-components/csv/csv-replacer.tsx
  src/components/markdown-renderer/replace-components/flow/flowchart-replacer.tsx
  src/components/markdown-renderer/replace-components/gist/gist-replacer.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-code/highlighted-code.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
  src/components/markdown-renderer/replace-components/image/image-replacer.tsx
  src/components/markdown-renderer/replace-components/katex/katex-replacer.tsx
  src/components/markdown-renderer/replace-components/pdf/pdf-replacer.tsx
  src/components/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.scss
  src/components/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
  src/components/markdown-renderer/replace-components/quote-options/quote-options-replacer.tsx
  src/components/markdown-renderer/replace-components/task-list/task-list-replacer.tsx
  src/components/markdown-renderer/replace-components/vimeo/vimeo-replacer.tsx
  src/components/markdown-renderer/replace-components/youtube/youtube-replacer.tsx
  src/service-worker.ts
  yarn.lock
Labels: bug

#434 Rename codimd to hedgedoc
  .github/ISSUE_TEMPLATE/bug_report.md
  .idea/dictionaries/hedgedoc.xml
  CHANGELOG.md
  README.md
  cypress/integration/documentTitle.spec.ts
  cypress/integration/link.spec.ts
  cypress/integration/toolbar.spec.ts
  public/api/v2/history
  public/icons/site.webmanifest
  public/index.html
  public/locales/en.json
  src/api/utils.ts
  src/components/common/document-title/document-title.tsx
  src/components/editor/app-bar/help-button/links.tsx
  src/components/editor/app-bar/navbar-branding.tsx
  src/components/editor/editorTestContent.ts
  src/components/intro-page/intro-page.tsx
  src/components/landing-layout/footer/powered-by-links.tsx
  src/components/landing-layout/footer/social-links.tsx
  src/components/markdown-renderer/markdown-it-plugins/line-number-marker.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/regex-plugins/replace-asciinema-link.ts
  src/components/markdown-renderer/regex-plugins/replace-gist-link.ts
  src/components/markdown-renderer/regex-plugins/replace-legacy-gist-short-code.ts
  src/components/markdown-renderer/regex-plugins/replace-legacy-vimeo-short-code.ts
  src/components/markdown-renderer/regex-plugins/replace-legacy-youtube-short-code.ts
  src/components/markdown-renderer/regex-plugins/replace-pdf-short-code.ts
  src/components/markdown-renderer/regex-plugins/replace-vimeo-link.ts
  src/components/markdown-renderer/regex-plugins/replace-youtube-link.ts
  src/components/markdown-renderer/replace-components/asciinema/asciinema-replacer.tsx
  src/components/markdown-renderer/replace-components/codi-md-tag-utils.ts
  src/components/markdown-renderer/replace-components/gist/gist-replacer.tsx
  src/components/markdown-renderer/replace-components/katex/katex-replacer.tsx
  src/components/markdown-renderer/replace-components/linemarker/linemarker-replacer.tsx
  src/components/markdown-renderer/replace-components/pdf/pdf-replacer.tsx
  src/components/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
  src/components/markdown-renderer/replace-components/utils.ts
  src/components/markdown-renderer/replace-components/vimeo/vimeo-replacer.tsx
  src/components/markdown-renderer/replace-components/youtube/youtube-replacer.tsx
Labels: enhancement

#530 Renamed missed code
  .gitignore
  src/components/markdown-renderer/replace-components/linemarker/linemarker-replacer.tsx
Labels: bug

#485 Add revisions dialog
  package.json
  public/api/v2/notes/features/revisions-list
  public/api/v2/notes/features/revisions/1598389571
  public/api/v2/notes/features/revisions/1598390307
  public/api/v2/users/dermolly
  public/api/v2/users/emcrx
  public/api/v2/users/mrdrogdrog
  public/locales/en.json
  src/api/me/index.ts
  src/api/revisions/index.ts
  src/api/users/index.ts
  src/api/users/types.d.ts
  src/components/common/modals/common-modal.tsx
  src/components/common/user-avatar/user-avatar.tsx
  src/components/editor/document-bar/buttons/revision-button.tsx
  src/components/editor/document-bar/document-bar.tsx
  src/components/editor/document-bar/revisions/revision-button.tsx
  src/components/editor/document-bar/revisions/revision-modal-list-entry.tsx
  src/components/editor/document-bar/revisions/revision-modal.scss
  src/components/editor/document-bar/revisions/revision-modal.tsx
  src/components/editor/document-bar/revisions/utils.ts
  src/components/editor/editor.tsx
  yarn.lock
Labels: editor, feature

#533 Add markdown body to cheatsheet
  src/components/editor/app-bar/help-button/cheatsheet.tsx
Labels: bug, ready to merge

#537 Add abcjs
  package.json
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/abc/abc-frame.tsx
  src/components/markdown-renderer/replace-components/abc/abc-replacer.tsx
  src/external-types/abcjs/abcjs.d.ts
  yarn.lock
Labels: feature, ready to merge, renderer

#538 Feature/sequence diagram
  CHANGELOG.md
  public/locales/en.json
  src/components/editor/document-bar/menus/export-menu.tsx
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/sequence-diagram/deprecation-warning.tsx
  src/components/markdown-renderer/replace-components/sequence-diagram/sequence-diagram-replacer.tsx
Labels: feature, renderer

#539 Remove keys from replacers
  src/components/markdown-renderer/renderer-utils.tsx
  src/components/markdown-renderer/replace-components/ComponentReplacer.ts
  src/components/markdown-renderer/replace-components/abc/abc-replacer.tsx
  src/components/markdown-renderer/replace-components/asciinema/asciinema-replacer.tsx
  src/components/markdown-renderer/replace-components/csv/csv-replacer.tsx
  src/components/markdown-renderer/replace-components/flow/flowchart-replacer.tsx
  src/components/markdown-renderer/replace-components/gist/gist-replacer.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
  src/components/markdown-renderer/replace-components/image/image-replacer.tsx
  src/components/markdown-renderer/replace-components/katex/katex-replacer.tsx
  src/components/markdown-renderer/replace-components/linemarker/linemarker-replacer.tsx
  src/components/markdown-renderer/replace-components/mermaid/mermaid-replacer.tsx
  src/components/markdown-renderer/replace-components/pdf/pdf-replacer.tsx
  src/components/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
  src/components/markdown-renderer/replace-components/quote-options/quote-options-replacer.tsx
  src/components/markdown-renderer/replace-components/sequence-diagram/sequence-diagram-replacer.tsx
  src/components/markdown-renderer/replace-components/task-list/task-list-replacer.tsx
  src/components/markdown-renderer/replace-components/vimeo/vimeo-replacer.tsx
  src/components/markdown-renderer/replace-components/youtube/youtube-replacer.tsx
  yarn.lock
Labels: code quality, ready to merge

#534 Show warning if note is longer than configured maximum length
  cypress/integration/maxLength.spec.ts
  cypress/support/config.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  public/api/v2/config
  public/locales/en.json
  src/api/config/types.d.ts
  src/components/editor/editor-modals/max-length-warning-modal.tsx
  src/components/editor/editor-pane/editor-pane.tsx
  src/components/editor/editor-pane/status-bar/status-bar.tsx
  src/components/markdown-renderer/markdown-renderer.tsx
  src/redux/config/reducers.ts
  yarn.lock
Labels: editor, feature

#540 added error boundary
  src/components/error-boundary/error-boundary.tsx
  src/index.tsx
Labels: feature, ready to merge

#550 Replace MathJax with KaTeX in our test note-content
  src/components/editor/editorTestContent.ts
Labels: enhancement, ready to merge

#532 build new permissions modal
  public/locales/en.json
  src/components/editor/document-bar/buttons/permission-button.tsx
  src/components/editor/document-bar/document-bar.tsx
  src/components/editor/document-bar/permissions/permission-button.tsx
  src/components/editor/document-bar/permissions/permission-group-entry.tsx
  src/components/editor/document-bar/permissions/permission-list.tsx
  src/components/editor/document-bar/permissions/permission-modal.tsx
Labels: editor, feature

#552 Improvement/modular renderer
  src/components/editor/app-bar/help-button/cheatsheet.tsx
  src/components/editor/app-bar/help-button/help-button.tsx
  src/components/editor/document-renderer-pane/document-render-pane.tsx
  src/components/editor/scroll/utils.ts
  src/components/markdown-renderer/basic-markdown-renderer.tsx
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/markdown-it-plugins/emoji/mapping.ts
  src/components/markdown-renderer/markdown-it-plugins/first-header-extractor.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/types.d.ts
  src/components/markdown-renderer/utils/calculate-line-marker-positions.ts
  src/components/markdown-renderer/utils/html-react-transformer.tsx
  src/components/markdown-renderer/utils/line-number-mapping.ts
  src/components/markdown-renderer/utils/use-post-meta-data-on-change.ts
  src/components/markdown-renderer/utils/use-post-toc-ast-on-change.ts
Labels: enhancement, ready to merge, renderer

#551 Extract URLs in extra file and change riot link to element-link
  cypress/integration/link.spec.ts
  src/components/editor/app-bar/help-button/links.tsx
  src/components/editor/document-bar/menus/export-menu.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/landing-layout/footer/powered-by-links.tsx
  src/components/landing-layout/footer/social-links.tsx
  src/components/markdown-renderer/replace-components/sequence-diagram/deprecation-warning.tsx
  src/links.json
Labels: enhancement

#565 add @types/domhandler
  package.json
  yarn.lock
Labels: bug

#564 Feature/d3 graphviz
  craco.config.js
  package.json
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/graphviz/graphviz-frame.tsx
  src/components/markdown-renderer/replace-components/graphviz/graphviz-replacer.tsx
  src/components/markdown-renderer/replace-components/mermaid/mermaid-chart.tsx
  yarn.lock
Labels: editor, ready to merge

#567 Add info message on empty toc
  public/locales/en.json
  src/components/editor/table-of-contents/table-of-contents.tsx
Labels: editor, enhancement, ready to merge

#569 removed unnecessary export of GeneralLinkProp
  src/components/common/links/types.d.ts
Labels: code quality, ready to merge

#574 add vega-lite diagram
  CHANGELOG.md
  package.json
  public/locales/en.json
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/markdown-it-plugins/highlighted-code.ts
  src/components/markdown-renderer/replace-components/vega-lite/vega-chart.tsx
  src/components/markdown-renderer/replace-components/vega-lite/vega-replacer.tsx
  yarn.lock
Labels: feature, ready to merge, renderer

#570 Expand image button
  CHANGELOG.md
  public/highres.jpg
  src/components/common/modals/common-modal.tsx
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/replace-components/image/frame.tsx
  src/components/markdown-renderer/replace-components/image/image-frame.tsx
  src/components/markdown-renderer/replace-components/image/image-replacer.tsx
  src/style/index.scss
Labels: feature, ready to merge, renderer

#572 added markmap support to the markdown-renderer
  CHANGELOG.md
  package.json
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/markmap/markmap-frame.tsx
  src/components/markdown-renderer/replace-components/markmap/markmap-replacer.tsx
  src/external-types/markmap-lib/dist/transform/index.d.ts
  src/external-types/markmap-lib/dist/view/index.d.ts
  yarn.lock
Labels: feature, ready to merge, renderer

#566 Add copy-to-clipboard-button to all code blocks
  CHANGELOG.md
  package.json
  public/locales/en.json
  src/components/common/copyable-field/copyable-field.tsx
  src/components/common/copyable/copy-overlay.tsx
  src/components/common/copyable/copy-to-clipboard-button/copy-to-clipboard-button.tsx
  src/components/common/copyable/copyable-field/copyable-field.tsx
  src/components/editor/document-bar/buttons/share-link-button.tsx
  src/components/landing-layout/footer/version-info.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-code/highlighted-code.tsx
  src/components/markdown-renderer/utils/button-inside.scss
  yarn.lock
Labels: feature, ready to merge, renderer

#588 Fix badges in readme
  README.md
Labels: documentation, ready to merge

#589 Remove unused prop
  src/components/markdown-renderer/replace-components/image/frame.tsx
Labels: bug

#591 Add webpack-bundle-analyzer as dev-tool
  README.md
  craco.config.js
  package.json
  yarn.lock
Labels: code quality

#594 fixed highlight fences showLines and wrapLines
  cypress/integration/code.spec.ts
  cypress/plugins/index.js
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
Labels: bug, renderer

#590 Feature/lazy load components
  src/api/auth/index.ts
  src/api/config/index.ts
  src/api/history/index.ts
  src/api/me/index.ts
  src/api/media/index.ts
  src/components/application-loader/application-loader.tsx
  src/components/application-loader/loading-screen.tsx
  src/components/common/branding/branding.tsx
  src/components/common/fork-awesome/fork-awesome-icon.tsx
  src/components/common/icon-button/icon-button.tsx
  src/components/common/icon-button/translated-icon-button.tsx
  src/components/common/modals/deletion-modal.tsx
  src/components/common/motd-banner/motd-banner.tsx
  src/components/editor/app-bar/app-bar.tsx
  src/components/editor/app-bar/help-button/links.tsx
  src/components/editor/app-bar/sync-scroll-buttons/buttonIcon.svg
  src/components/editor/document-bar/menus/export-menu.tsx
  src/components/editor/document-bar/revisions/revision-modal.tsx
  src/components/editor/editor-pane/autocompletion/code-block.ts
  src/components/editor/editor-pane/editor-pane.scss
  src/components/editor/editor-pane/one-dark.scss
  src/components/editor/editor-pane/tool-bar/emoji-picker/emoji-picker-button.tsx
  src/components/editor/editor-pane/tool-bar/emoji-picker/emoji-picker.scss
  src/components/editor/editor-pane/tool-bar/emoji-picker/emoji-picker.tsx
  src/components/editor/editor.tsx
  src/components/history-page/entry-menu/entry-menu.scss
  src/components/history-page/entry-menu/entry-menu.tsx
  src/components/history-page/history-page.tsx
  src/components/intro-page/intro-page.tsx
  src/components/login-page/auth/via-one-click.tsx
  src/components/login-page/login-page.tsx
  src/components/markdown-renderer/replace-components/abc/abc-frame.tsx
  src/components/markdown-renderer/replace-components/flow/flowchart/flowchart.tsx
  src/components/markdown-renderer/replace-components/graphviz/graphviz-frame.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-code/highlighted-code.tsx
  src/components/markdown-renderer/replace-components/katex/katex-replacer.tsx
  src/components/markdown-renderer/replace-components/katex/katex.scss
  src/components/markdown-renderer/replace-components/markmap/markmap-frame.tsx
  src/components/markdown-renderer/replace-components/vega-lite/vega-chart.tsx
  src/components/markdown-renderer/utils/html-react-transformer.tsx
  src/components/profile-page/profile-page.tsx
  src/components/register-page/register-page.tsx
  src/index.tsx
  src/redux/banner/reducers.ts
  src/redux/config/methods.ts
  src/style/index.scss
Labels: enhancement

#614 Change element.io links to matrix.to links
  cypress/integration/link.spec.ts
  src/components/editor/app-bar/help-button/links.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/landing-layout/footer/social-links.tsx
  src/links.json
Labels: enhancement, ready to merge

#613 Fix render pane scrolling
  src/components/editor/document-renderer-pane/document-render-pane.tsx
Labels: editor

#619 Set wasmfolder
  src/components/markdown-renderer/replace-components/graphviz/graphviz-frame.tsx
Labels: bug, renderer

#615 Autocompletion and toolbar button for collapsable blocks
  CHANGELOG.md
  cypress/integration/autocompletion.spec.ts
  cypress/integration/toolbar.spec.ts
  public/locales/en.json
  src/components/editor/editor-pane/autocompletion/collapsable-block.ts
  src/components/editor/editor-pane/autocompletion/index.ts
  src/components/editor/editor-pane/tool-bar/tool-bar.tsx
  src/components/editor/editor-pane/tool-bar/utils/toolbarButtonUtils.test.ts
  src/components/editor/editor-pane/tool-bar/utils/toolbarButtonUtils.ts
Labels: editor, feature

#568 Add caching of user-data
  src/api/revisions/index.ts
  src/api/revisions/types.d.ts
  src/api/users/index.ts
  src/components/common/cache/cache.test.ts
  src/components/common/cache/cache.ts
  src/components/editor/document-bar/revisions/revision-modal-list-entry.tsx
  src/components/editor/document-bar/revisions/revision-modal.tsx
  src/components/editor/document-bar/revisions/utils.ts
Labels: enhancement

#618 Use right clear error
  src/components/markdown-renderer/replace-components/vega-lite/vega-chart.tsx
Labels: bug, renderer

#616 Extract clean title from first heading
  cypress/integration/documentTitle.spec.ts
  src/components/editor/editor.tsx
  src/components/editor/splitter/splitter.tsx
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/markdown-it-plugins/first-header-extractor.ts
Labels: editor, enhancement, ready to merge

#617 replace allowedChars with not-whitespace
  src/components/editor/editor-pane/autocompletion/code-block.ts
  src/components/editor/editor-pane/autocompletion/collapsable-block.ts
  src/components/editor/editor-pane/autocompletion/container.ts
  src/components/editor/editor-pane/autocompletion/emoji.ts
  src/components/editor/editor-pane/autocompletion/header.ts
  src/components/editor/editor-pane/autocompletion/image.ts
  src/components/editor/editor-pane/autocompletion/index.ts
  src/components/editor/editor-pane/autocompletion/link-and-extra-tag.ts
  src/components/editor/editor-pane/autocompletion/pdf.ts
  src/components/editor/editor-pane/editor-pane.tsx
Labels: bug, editor, ready to merge
