Repository hedgedoc/react-client, pull requests merged in 2020-06, with the labels that each got.

#118 Improvement/different background color
  public/index.html
  src/style/index.scss
Labels: UI/UX, enhancement

#123 Improve sign in button
  src/components/landing/layout/navigation/header-bar/header-bar.tsx
  src/components/landing/layout/navigation/sign-in-button.tsx
  src/components/landing/pages/intro/cover-buttons/cover-buttons.tsx
  src/components/landing/pages/login/login.tsx
Labels: code quality

#137 Add show-if component
  src/components/common/show-if.tsx
Labels: enhancement

#122 Show login-buttons and boxes only if providers are configured
  src/components/landing/layout/navigation/sign-in-button.tsx
  src/components/landing/pages/intro/cover-buttons/cover-buttons.tsx
  src/components/landing/pages/login/login.tsx
Labels: UI/UX, enhancement, intro

#124 added error modal
  src/components/error-modal/error-modal.tsx
  src/components/landing/pages/history/history-toolbar/import-history-button.tsx
Labels: code quality

#156 Add function for language code shortening
  src/components/landing/layout/footer/language-picker.tsx
Labels: bug, ready to merge

#161 fix internal link
  src/components/links/internal-link.tsx
Labels: bug, ready to merge

#166 Add examples and cd command to README
  README.md
Labels: documentation, ready to merge

#162 Add fixed sizes for history table columns
  src/components/landing/pages/history/history-table/history-table.scss
  src/components/landing/pages/history/history-table/history-table.tsx
Labels: UI/UX, enhancement, history, ready to merge

#165 Restructure github flow
  .github/workflows/build.yml
Labels: enhancement, ready to merge

#167 Changed API path to v2 instead of v2.0
  public/api/v2/config
  src/redux/frontend-config/methods.ts
Labels: enhancement

#168 Throw error if unexpected response code
  src/utils/apiUtils.ts
Labels: bug, ready to merge

#169 Use more show-if
  src/components/application-loader/loading-screen.tsx
  src/components/editor/editor.tsx
  src/components/element-separator/element-separator.tsx
  src/components/landing/layout/version-info/version-info.tsx
  src/components/landing/pages/login/login.tsx
  src/components/landing/pages/profile/profile.tsx
  src/components/links/external-link.tsx
  src/components/links/internal-link.tsx
  src/components/pagination/pager-pagination.tsx
Labels: code quality, ready to merge

#96 Add basic codemirror
  package.json
  src/components/application-loader/loading-screen.tsx
  src/components/editor/editor-window/editor-window.scss
  src/components/editor/editor-window/editor-window.tsx
  src/components/editor/editor-window/one-dark.css
  src/components/editor/editor.tsx
  src/components/landing/landing-layout.tsx
  src/redux/editor/reducers.ts
  yarn.lock
Labels: editor, feature

#196 Add placeholder translation
  public/locales/en.json
  src/components/editor/editor-window/editor-window.tsx
Labels: editor, enhancement

#200 Show footer always at the bottom
  src/components/landing/landing-layout.tsx
  src/components/landing/pages/intro/intro.tsx
  src/global-style/index.scss
Labels: enhancement, intro

#201 Fix icon position in application loading screen
  src/components/application-loader/application-loader.scss
  src/components/application-loader/loading-screen.tsx
Labels: bug

#198 Add editor split component
  package.json
  src/components/common/split-divider/split-divider.scss
  src/components/common/split-divider/split-divider.tsx
  src/components/common/splitter/splitter.scss
  src/components/common/splitter/splitter.tsx
  src/components/editor/editor.tsx
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/components/editor/task-bar/editor-view-mode.tsx
  yarn.lock
Labels: editor, feature

#207 Redesign history context button
  src/components/landing/pages/history/common/entry-menu.scss
  src/components/landing/pages/history/common/entry-menu.tsx
Labels: UI/UX, enhancement

#203 Add links from recent note history entries to the actual note
  src/components/landing/pages/history/history-card/history-card.tsx
  src/components/landing/pages/history/history-table/history-table-row.tsx
Labels: UI/UX, enhancement, history

#208 Add pull request template
  .github/pull_request_template.md
Labels: documentation, feature

#197 Basic markdown renderer
  CHANGELOG.md
  package.json
  src/components/editor/editor-window/editor-window.tsx
  src/components/editor/editor.tsx
  src/components/editor/markdown-preview/markdown-it-plugins/parser-debugger.ts
  src/components/editor/markdown-preview/markdown-preview.scss
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/components/editor/markdown-preview/regex-plugins/replace-gist-link.ts
  src/components/editor/markdown-preview/regex-plugins/replace-legacy-gist-short-code.ts
  src/components/editor/markdown-preview/regex-plugins/replace-legacy-slideshare-short-code.ts
  src/components/editor/markdown-preview/regex-plugins/replace-legacy-speakerdeck-short-code.ts
  src/components/editor/markdown-preview/regex-plugins/replace-legacy-vimeo-short-code.ts
  src/components/editor/markdown-preview/regex-plugins/replace-legacy-youtube-short-code.ts
  src/components/editor/markdown-preview/regex-plugins/replace-vimeo-link.ts
  src/components/editor/markdown-preview/regex-plugins/replace-youtube-link.ts
  src/components/editor/markdown-preview/replace-components/gist/gist-frame.scss
  src/components/editor/markdown-preview/replace-components/gist/gist-frame.tsx
  src/components/editor/markdown-preview/replace-components/gist/gist-preview.png
  src/components/editor/markdown-preview/replace-components/one-click-frame/one-click-embedding.scss
  src/components/editor/markdown-preview/replace-components/one-click-frame/one-click-embedding.tsx
  src/components/editor/markdown-preview/replace-components/video-util.ts
  src/components/editor/markdown-preview/replace-components/vimeo/vimeo-frame.tsx
  src/components/editor/markdown-preview/replace-components/youtube/youtube-frame.tsx
  src/external-types/markdown-it-emoji/index.d.ts
  src/external-types/markdown-it-regex/index.d.ts
  src/external-types/markdown-it-regex/interface.ts
  src/external-types/markdown-it-task-lists/index.d.ts
  src/global-style/TwemojiMozilla.ttf
  src/global-style/index.scss
  src/redux/editor/reducers.ts
  yarn.lock
Labels: editor, enhancement

#235 Add codimd to jetbrains dictionary
  .idea/dictionaries/codimd.xml
Labels: code quality

#237 Add twemoji to changelog
  CHANGELOG.md
Labels: documentation, enhancement

#218 PDF embedding
  src/components/editor/editor.tsx
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/components/editor/markdown-preview/regex-plugins/replace-pdf-short-code.ts
  src/components/editor/markdown-preview/replace-components/pdf/pdf-frame.scss
  src/components/editor/markdown-preview/replace-components/pdf/pdf-frame.tsx
Labels: editor, feature

#232 Emphasis plugins
  package.json
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/external-types/markdown-it-ins/index.d.ts
  src/external-types/markdown-it-mark/index.d.ts
  src/external-types/markdown-it-sub/index.d.ts
  src/external-types/markdown-it-sup/index.d.ts
  yarn.lock
Labels: editor, feature

#236 Change font settings in editor
  src/components/editor/editor-window/editor-window.scss
Labels: editor, enhancement

#240 added support for markdown-it-deflist
  package.json
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/external-types/markdown-it-deflist/index.d.ts
  yarn.lock
Labels: editor, feature

#238 added support for markdown-it-abbr
  package.json
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/external-types/markdown-it-abbr/index.d.ts
  yarn.lock
Labels: editor, feature

#234 Add Alerts
  package.json
  src/components/editor/markdown-preview/container-plugins/alert.ts
  src/components/editor/markdown-preview/markdown-preview.scss
  src/components/editor/markdown-preview/markdown-preview.tsx
  yarn.lock
Labels: UI/UX, editor, feature

#239 added support for markdown-it-footnote
  package.json
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/external-types/markdown-it-footnote/index.d.ts
  yarn.lock
Labels: editor, feature

#217 Deduplicate code
  src/components/editor/editor.tsx
  src/components/editor/markdown-preview/markdown-preview.tsx
  src/components/editor/markdown-preview/replace-components/gist/gist-frame.tsx
  src/components/editor/markdown-preview/replace-components/vimeo/vimeo-frame.tsx
  src/components/editor/markdown-preview/replace-components/youtube/youtube-frame.tsx
Labels: code quality, editor

#233 Refactor video-util.ts and rename markdown-preview
  src/components/editor/editor.tsx
  src/components/editor/markdown-preview/replace-components/video-util.ts
  src/components/editor/markdown-renderer/container-plugins/alert.ts
  src/components/editor/markdown-renderer/markdown-it-plugins/parser-debugger.ts
  src/components/editor/markdown-renderer/markdown-renderer.scss
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/regex-plugins/replace-gist-link.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-legacy-gist-short-code.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-legacy-slideshare-short-code.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-legacy-speakerdeck-short-code.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-legacy-vimeo-short-code.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-legacy-youtube-short-code.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-pdf-short-code.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-vimeo-link.ts
  src/components/editor/markdown-renderer/regex-plugins/replace-youtube-link.ts
  src/components/editor/markdown-renderer/replace-components/codi-md-tag-utils.ts
  src/components/editor/markdown-renderer/replace-components/gist/gist-frame.scss
  src/components/editor/markdown-renderer/replace-components/gist/gist-frame.tsx
  src/components/editor/markdown-renderer/replace-components/gist/gist-preview.png
  src/components/editor/markdown-renderer/replace-components/one-click-frame/one-click-embedding.scss
  src/components/editor/markdown-renderer/replace-components/one-click-frame/one-click-embedding.tsx
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-frame.scss
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-frame.tsx
  src/components/editor/markdown-renderer/replace-components/vimeo/vimeo-frame.tsx
  src/components/editor/markdown-renderer/replace-components/youtube/youtube-frame.tsx
Labels: code quality, enhancement

#247 Add subnode renderer
  src/components/editor/markdown-renderer/markdown-renderer.tsx
Labels: editor, enhancement

#243 Added TOC and anchors for headings
  package.json
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-renderer.scss
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/gist/gist-frame.tsx
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-frame.tsx
  src/components/editor/markdown-renderer/replace-components/toc/toc-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/vimeo/vimeo-frame.tsx
  src/components/editor/markdown-renderer/replace-components/youtube/youtube-frame.tsx
  src/external-types/markdown-it-table-of-contents/index.d.ts
  src/external-types/markdown-it-table-of-contents/interface.ts
  yarn.lock
Labels: editor, feature

#246 Extract language codes into object
  src/components/landing/layout/footer/language-picker.tsx
Labels: enhancement

#242 Feature/highlightjs
  CHANGELOG.md
  package.json
  src/components/common/highlighted-code/highlighted-code.scss
  src/components/common/highlighted-code/highlighted-code.tsx
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-it-plugins/highlighted-code.ts
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/highlighted-code/highlighted-code.scss
  src/components/editor/markdown-renderer/replace-components/highlighted-code/highlighted-code.tsx
  yarn.lock
Labels: editor, feature, ready to merge

#250 added mathjax
  package.json
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/mathjax/mathjax-replacer.tsx
  src/external-types/markdown-it-mathjax/index.d.ts
  src/external-types/markdown-it-mathjax/interface.ts
  yarn.lock
Labels: editor, feature

#254 Add unique key
  src/components/common/highlighted-code/highlighted-code.tsx
Labels: bug, code quality, editor

#260 Fixed ToC only showing up to 2 levels instead of 3
  src/components/editor/markdown-renderer/markdown-renderer.tsx
Labels: bug, editor, ready to merge

#262 Added image resizing support via markdown-it-imsize
  package.json
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/external-types/markdown-it-imsize/index.d.ts
  src/external-types/markdown-it-imsize/interface.ts
  yarn.lock
Labels: editor, feature, ready to merge

#265 Restructure highlight code to enable line wrapping
  CHANGELOG.md
  src/components/common/highlighted-code/highlighted-code.scss
  src/components/common/highlighted-code/highlighted-code.tsx
  src/components/editor/markdown-renderer/markdown-it-plugins/highlighted-code.ts
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/highlighted-code/highlighted-code.scss
  src/components/editor/markdown-renderer/replace-components/highlighted-fence/highlighted-fence.tsx
Labels: editor, feature, ready to merge

#266 Restructure replacers
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/ComponentReplacer.ts
  src/components/editor/markdown-renderer/replace-components/gist/gist-frame.tsx
  src/components/editor/markdown-renderer/replace-components/gist/gist-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/highlighted-fence/highlighted-fence.tsx
  src/components/editor/markdown-renderer/replace-components/mathjax/mathjax-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-frame.tsx
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/quote-options/quote-options-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/quote-options/quote-options.tsx
  src/components/editor/markdown-renderer/replace-components/toc/toc-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/vimeo/vimeo-frame.tsx
  src/components/editor/markdown-renderer/replace-components/vimeo/vimeo-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/youtube/youtube-frame.tsx
  src/components/editor/markdown-renderer/replace-components/youtube/youtube-replacer.tsx
Labels: code quality, editor

#268 Add linkify
  src/components/editor/markdown-renderer/markdown-it-plugins/linkify-extra.ts
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/external-types/markdown-it-linkify/index.d.ts
Labels: editor, enhancement, ready to merge

#267 Add new syntax to code highlightning
  src/components/common/highlighted-code/highlighted-code.scss
  src/components/common/highlighted-code/highlighted-code.tsx
  src/components/editor/markdown-renderer/markdown-it-plugins/highlighted-code.ts
  src/components/editor/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
Labels: enhancement

#270 Add spaces to highlighted code regex
  src/components/editor/markdown-renderer/markdown-it-plugins/highlighted-code.ts
Labels: editor, enhancement

#275 Change pdf embedding size when clicked
  src/components/editor/markdown-renderer/replace-components/one-click-frame/one-click-embedding.tsx
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-frame.tsx
Labels: editor, enhancement, ready to merge

#273 added image-replacer
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/image/image-frame.tsx
  src/components/editor/markdown-renderer/replace-components/image/image-replacer.tsx
Labels: editor, feature

#277 Added click-to-load text for pdf embeddings and general option for texts on the embedding preview
  public/locales/en.json
  src/components/editor/markdown-renderer/replace-components/one-click-frame/one-click-embedding.scss
  src/components/editor/markdown-renderer/replace-components/one-click-frame/one-click-embedding.tsx
  src/components/editor/markdown-renderer/replace-components/pdf/pdf-frame.tsx
Labels: editor, enhancement

#271 View mode wider
  CHANGELOG.md
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-renderer.scss
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
Labels: editor, enhancement

#278 Fixed bug that two p-tags were encapsulated inside each other
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
Labels: bug, editor

#293 Updated test-class matching rule of renovate
  renovate.json
Labels: dependencies, ready to merge

#294 Refactoring of modals
  src/components/common/error-modal/error-modal.tsx
  src/components/common/modals/common-modal.tsx
  src/components/common/modals/deletion-modal.tsx
  src/components/common/modals/error-modal.tsx
  src/components/landing/pages/history/history-toolbar/clear-history-button.tsx
  src/components/landing/pages/history/history-toolbar/import-history-button.tsx
  src/components/landing/pages/history/history.tsx
Labels: code quality, enhancement

#297 Replace links to /features with /n/features
  public/locales/en.json
  src/components/landing/layout/navigation/user-dropdown/user-dropdown.tsx
  src/components/landing/pages/intro/cover-buttons/cover-buttons.tsx
  src/components/landing/pages/intro/feature-links.tsx
Labels: enhancement, intro

#272 Add toc sidebar+dropdown
  CHANGELOG.md
  package.json
  src/components/common/splitter/splitter.tsx
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-renderer.scss
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-toc/markdown-toc.scss
  src/components/editor/markdown-toc/markdown-toc.tsx
  src/components/editor/renderer-window/markdown-render-window.tsx
  src/components/landing/pages/history/common/entry-menu.scss
  src/external-types/markdown-it-table-of-contents/index.d.ts
  src/external-types/markdown-it-table-of-contents/interface.ts
  src/external-types/markdown-it-toc-done-right/index.d.ts
  src/external-types/markdown-it-toc-done-right/interface.ts
  src/global-style/index.scss
  src/utils/slugify.ts
  yarn.lock
Labels: editor, feature, ready to merge
