Repository hedgedoc/react-client, pull requests merged in 2020-08, with the labels that each got.

#376 Add automerge config to renovatebot
  renovate.json
Labels: dependencies, enhancement

#380 Improve css in preparation for the sync scroll
  src/components/common/splitter/splitter.tsx
  src/components/editor/markdown-toc/markdown-toc.scss
  src/components/editor/renderer-window/markdown-render-window.tsx
  src/global-style/index.scss
Labels: editor, enhancement, ready to merge

#379 Add key to image replacer
  src/components/editor/markdown-renderer/replace-components/image/image-replacer.tsx
Labels: enhancement, ready to merge

#381 Fix me-API-request to use fetch-config and API-path
  public/api/v2/me
  src/api/me.ts
Labels: enhancement

#327 Add plantuml support
  package.json
  public/api/v2/config
  src/api/config/types.ts
  src/components/editor/editorTestContent.ts
  src/components/editor/markdown-renderer/markdown-it-plugins/plantuml-error.ts
  src/components/editor/markdown-renderer/markdown-renderer.scss
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/external-types/markdown-it-plantuml/index.d.ts
  src/external-types/markdown-it-plantuml/interface.d.ts
  src/redux/config/reducers.ts
  yarn.lock
Labels: editor, feature

#382 Minor README improvements
  README.md
Labels: documentation, ready to merge

#311 Add codemirror keybindings and addons
  package.json
  public/locales/en.json
  src/components/editor/editor-window/editor-window.scss
  src/components/editor/editor-window/editor-window.tsx
  src/components/editor/editor-window/interfaces.ts
  src/components/editor/editor-window/key-map.ts
  src/components/editor/editor-window/tool-bar/tool-bar.tsx
  src/components/editor/editor-window/tool-bar/utils.test.ts
  src/components/editor/editor-window/tool-bar/utils.ts
  src/components/editor/editorTestContent.ts
  src/external-types/codemirror/addon/display/fullScreen.d.ts
  yarn.lock
Labels: editor, feature, ready to merge

#329 Add emoji picker
  CHANGELOG.md
  package.json
  public/img/forkawesome.png
  src/components/editor/editor-window/tool-bar/emoji-picker/emoji-picker.scss
  src/components/editor/editor-window/tool-bar/emoji-picker/emoji-picker.tsx
  src/components/editor/editor-window/tool-bar/emoji-picker/icon-names.ts
  src/components/editor/editor-window/tool-bar/tool-bar.tsx
  src/components/editor/editor-window/tool-bar/utils.test.ts
  src/components/editor/editor-window/tool-bar/utils.ts
  yarn.lock
Labels: UI/UX, editor, feature

#395 Disable markdown it debug output in production
  src/components/editor/markdown-renderer/markdown-renderer.tsx
Labels: code quality, editor, ready to merge

#396 Allow word break in renderer
  src/components/editor/markdown-renderer/markdown-renderer.scss
Labels: editor, ready to merge

#397 Insert short code instead of native emoji
  src/components/editor/editor-window/tool-bar/utils.test.ts
  src/components/editor/editor-window/tool-bar/utils.ts
Labels: editor, ready to merge

#398 Use twitter emojis for markdown-it-emoji
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/external-types/markdown-it-emoji/index.d.ts
  src/external-types/markdown-it-emoji/interface.d.ts
Labels: editor, enhancement, ready to merge

#408 updated react-scripts
  package.json
  yarn.lock
Labels: critical, dependencies

#420 removed the unused dependency start-server-and-test
  package.json
  yarn.lock
Labels: dependencies

#422 change github action workflows to main
  .github/workflows/build.yml
  .github/workflows/e2e.yml
Labels: code quality, critical, ready to merge

#423 Change indentation for json files to 4 spaces and reformat json files
  .editorconfig
  public/locales/ar.json
  public/locales/en.json
  public/locales/pt.json
Labels: code quality

#428 made the addCodeFences function also work without selections
  CHANGELOG.md
  cypress/integration/toolbar.spec.ts
  src/components/editor/editor-pane/tool-bar/utils/toolbarButtonUtils.test.ts
  src/components/editor/editor-pane/tool-bar/utils/toolbarButtonUtils.ts
Labels: editor, enhancement, ready to merge

#433 Mock avatar
  public/api/v2/me
  public/avatar.png
  src/components/editor/document-bar/connection-indicator/connection-indicator.tsx
  src/components/editor/document-bar/document-info/document-info-button.tsx
Labels: enhancement, ready to merge

#435 Add resolution for cypress
  package.json
  yarn.lock
Labels: critical, dependencies

#436 Disable videos in cypress CI config
  cypress.json
Labels: enhancement

#432 Use prod build for e2e tests
  .github/workflows/e2e.yml
  cypress.json
  package.json
  yarn.lock
Labels: enhancement

#386 Synchronous scrolling
  src/components/editor/document-renderer-pane/document-render-pane.tsx
  src/components/editor/editor-pane/editor-pane.tsx
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-it-plugins/line-number-marker.ts
  src/components/editor/scroll/scroll-props.ts
  src/components/editor/scroll/utils.ts
  src/components/editor/splitter/splitter.tsx
  src/components/editor/table-of-contents/table-of-contents.tsx
  src/components/markdown-renderer/markdown-renderer.tsx
  yarn.lock
Labels: editor, feature

#481 Add sync scroll button
  public/locales/en.json
  src/components/editor/app-bar/app-bar.tsx
  src/components/editor/app-bar/editor-view-mode.tsx
  src/components/editor/app-bar/sync-scroll-button/buttonIcon.svg
  src/components/editor/app-bar/sync-scroll-button/disabledScroll.svg
  src/components/editor/app-bar/sync-scroll-button/enabledScroll.svg
  src/components/editor/app-bar/sync-scroll-button/sync-scroll-button.tsx
  src/components/editor/editor-pane/editor-pane.tsx
  src/components/editor/editor.tsx
  src/redux/editor/methods.ts
  src/redux/editor/reducers.ts
  src/redux/editor/types.ts
Labels: editor

#484 Restructure help dialog
  CHANGELOG.md
  public/locales/en.json
  src/components/editor/app-bar/app-bar.tsx
  src/components/editor/app-bar/help-button.tsx
  src/components/editor/app-bar/help-button/cheatsheet.scss
  src/components/editor/app-bar/help-button/cheatsheet.tsx
  src/components/editor/app-bar/help-button/help-button.tsx
  src/components/editor/app-bar/help-button/links.tsx
  src/components/editor/app-bar/help-button/shortcuts.tsx
  src/components/editor/document-renderer-pane/document-render-pane.tsx
  src/components/editor/editor-pane/key-map.ts
  src/components/editor/utils.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-code/highlighted-code.scss
  yarn.lock
Labels: editor, feature, ready to merge

#483 Add fork-awesome-stack and extract types
  src/components/common/fork-awesome/fork-awesome-icon.tsx
  src/components/common/fork-awesome/fork-awesome-stack.tsx
  src/components/common/fork-awesome/types.d.ts
  src/components/common/icon-button/icon-button.tsx
  src/components/common/links/external-link.tsx
  src/components/common/links/internal-link.tsx
  src/components/common/modals/common-modal.tsx
  src/components/editor/document-bar/document-info/document-info-line.tsx
  src/components/editor/document-bar/document-info/document-info-time-line.tsx
  src/components/history-page/entry-menu/dropdown-item-with-deletion-modal.tsx
  src/components/history-page/sort-button/sort-button.tsx
  src/components/login-page/auth/social-link-button/social-link-button.tsx
  src/components/login-page/auth/via-one-click.tsx
  src/components/markdown-renderer/replace-components/one-click-frame/one-click-embedding.tsx
Labels: enhancement, ready to merge

#486 added viewMode shortcuts
  src/components/editor/editor.tsx
  src/components/editor/shortcut/shortcut.ts
Labels: editor, feature, ready to merge

#487 Fix scroll bugs
  src/components/editor/document-renderer-pane/document-render-pane.tsx
  src/components/editor/editor-pane/editor-pane.tsx
Labels: bug, editor, ready to merge

#489 Add key prop to shortcut listgroup
  src/components/editor/app-bar/help-button/shortcuts.tsx
Labels: bug, ready to merge

#491 fix "PDF does not work. Why?" link
  src/components/editor/document-bar/menus/export-menu.tsx
Labels: bug, editor, ready to merge

#490 fixed shortcuts for macs
  src/components/editor/app-bar/help-button/shortcuts.tsx
  src/components/editor/shortcut/shortcut.ts
Labels: bug, editor, ready to merge

#494 Reduce space between editor toolbar buttons
  src/components/editor/editor-pane/editor-pane.scss
  src/components/editor/editor-pane/tool-bar/tool-bar.tsx
Labels: UI/UX, editor, enhancement, ready to merge

#493 Fix editor being filled with €-symbols when pressing the editor-mode-shortcut on certain platforms
  src/components/editor/editor.tsx
  src/components/editor/shortcut/shortcut.ts
Labels: bug, editor

#498 Drop node 10 test
  .github/workflows/build.yml
  README.md
Labels: enhancement

#497 Replace MathJax with KaTeX
  CHANGELOG.md
  cypress/integration/link.spec.ts
  package.json
  public/locales/ar.json
  public/locales/ca.json
  public/locales/cs.json
  public/locales/da.json
  public/locales/de.json
  public/locales/el.json
  public/locales/en.json
  public/locales/eo.json
  public/locales/es.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/hr.json
  public/locales/id.json
  public/locales/it.json
  public/locales/ja.json
  public/locales/ko.json
  public/locales/nl.json
  public/locales/pl.json
  public/locales/pt.json
  public/locales/ru.json
  public/locales/sk.json
  public/locales/sr.json
  public/locales/sv.json
  public/locales/tr.json
  public/locales/uk.json
  public/locales/vi.json
  public/locales/zh-CN.json
  public/locales/zh-TW.json
  src/components/intro-page/feature-links.tsx
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/katex/katex-replacer.tsx
  src/components/markdown-renderer/replace-components/mathjax/mathjax-replacer.tsx
  yarn.lock
Labels: editor, enhancement

#500 Feature/csv table
  CHANGELOG.md
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/markdown-it-plugins/highlighted-code.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/csv/csv-parser.test.ts
  src/components/markdown-renderer/replace-components/csv/csv-parser.ts
  src/components/markdown-renderer/replace-components/csv/csv-replacer.tsx
  src/components/markdown-renderer/replace-components/csv/csv-table.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
Labels: editor, feature

#510 Added flowchart diagrams
  package.json
  public/locales/en.json
  src/components/editor/editorTestContent.ts
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/flow/flowchart-replacer.tsx
  src/components/markdown-renderer/replace-components/flow/flowchart/flowchart.tsx
  src/external-types/flowchart.js/index.d.ts
  yarn.lock
Labels: feature, ready to merge, renderer

#512 Remove TOC replacer
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/markdown-renderer/replace-components/toc/toc-replacer.tsx
Labels: code quality, ready to merge, renderer

#515 Correct use selector
  package.json
  src/components/common/branding/branding.tsx
  src/components/common/document-title/document-title.tsx
  src/components/common/motd-banner/motd-banner.tsx
  src/components/editor/app-bar/app-bar.tsx
  src/components/editor/app-bar/editor-view-mode.tsx
  src/components/history-page/history-page.tsx
  src/components/history-page/history-toolbar/history-toolbar.tsx
  src/components/intro-page/cover-buttons/cover-buttons.tsx
  src/components/landing-layout/footer/powered-by-links.tsx
  src/components/landing-layout/footer/version-info.tsx
  src/components/landing-layout/navigation/header-bar/header-bar.tsx
  src/components/landing-layout/navigation/sign-in-button.tsx
  src/components/landing-layout/navigation/user-dropdown.tsx
  src/components/login-page/login-page.tsx
  src/components/markdown-renderer/markdown-renderer.tsx
  src/components/profile-page/profile-page.tsx
  src/components/profile-page/settings/profile-display-name.tsx
  src/components/register-page/register-page.tsx
  yarn.lock
Labels: code quality, ready to merge

#516 Remove @types/react-bootstrap
  package.json
  yarn.lock
Labels: code quality, ready to merge
