Repository hedgedoc/react-client, pull requests merged in 2020-07, with the labels that each got.

#301 added branding option
  CHANGELOG.md
  public/acme.png
  public/api/v2/config
  src/api/backend-config/types.ts
  src/components/common/branding/branding.scss
  src/components/common/branding/branding.tsx
  src/components/common/document-title/document-title.tsx
  src/components/editor/task-bar/task-bar.tsx
  src/components/landing/landing-layout.tsx
  src/components/landing/pages/intro/intro.tsx
  src/redux/backend-config/reducers.ts
Labels: feature

#299 Add note deletion and removal from history modals
  CHANGELOG.md
  public/locales/en.json
  src/components/landing/pages/history/common/entry-menu/delete-note-item.tsx
  src/components/landing/pages/history/common/entry-menu/dropdown-item-with-deletion-modal.tsx
  src/components/landing/pages/history/common/entry-menu/entry-menu.scss
  src/components/landing/pages/history/common/entry-menu/entry-menu.tsx
  src/components/landing/pages/history/common/entry-menu/remove-note-entry-item.tsx
  src/components/landing/pages/history/history-card/history-card.tsx
  src/components/landing/pages/history/history-table/history-table-row.tsx
  src/components/landing/pages/history/history-toolbar/import-history-button.tsx
  src/components/landing/pages/history/history.tsx
Labels: enhancement, history

#304 Remove log message and fix null check
  src/components/common/branding/branding.tsx
Labels: enhancement

#298 started work on E2E Tests
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  README.md
  cypress.json
  cypress/.eslintrc.json
  cypress/fixtures/languages.ts
  cypress/integration/banner.spec.ts
  cypress/integration/history.spec.ts
  cypress/integration/intro.spec.ts
  cypress/integration/language.spec.ts
  cypress/integration/link.spec.ts
  cypress/support/checkLinks.ts
  cypress/support/config.ts
  cypress/support/index.ts
  cypress/support/login.ts
  cypress/tsconfig.json
  cypress/webpack.config.js
  package.json
  public/api/v2/config
  src/components/common/links/external-link.tsx
  src/components/common/links/internal-link.tsx
  src/components/common/links/types.ts
  src/components/landing/layout/navigation/header-bar/header-bar.tsx
  src/components/landing/layout/navigation/header-nav-link.tsx
  src/components/landing/layout/version-info/version-info.tsx
  yarn.lock
Labels: code quality

#302 readd toolbar
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
  public/locales/en.json
  src/components/editor/editor-window/editor-window.tsx
  src/components/editor/editor-window/interfaces.ts
  src/components/editor/editor-window/tool-bar/tool-bar.scss
  src/components/editor/editor-window/tool-bar/tool-bar.tsx
  src/components/editor/editor-window/tool-bar/utils.test.ts
  src/components/editor/editor-window/tool-bar/utils.ts
Labels: editor, feature

#326 Add Asciinema integration
  CHANGELOG.md
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/markdown-renderer/regex-plugins/replace-asciinema-link.ts
  src/components/editor/markdown-renderer/replace-components/asciinema/asciinema-frame.tsx
  src/components/editor/markdown-renderer/replace-components/asciinema/asciinema-replacer.tsx
  src/components/editor/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
Labels: editor, feature

#310 Add YAML-metadata for notes and change the document title accordingly
  .github/workflows/build.yml
  cypress/integration/documentTitle.spec.ts
  cypress/support/config.ts
  package.json
  public/locales/en.json
  src/components/common/document-title/document-title.tsx
  src/components/editor/editor.tsx
  src/components/editor/markdown-renderer/markdown-renderer.tsx
  src/components/editor/renderer-window/markdown-render-window.tsx
  src/components/editor/yaml-metadata/yaml-metadata.test.ts
  src/components/editor/yaml-metadata/yaml-metadata.ts
  src/external-types/markdown-it-front-matter/index.d.ts
  yarn.lock
Labels: editor, feature, ready to merge

#346 Correct browser name in e2e workflow
  .github/workflows/e2e.yml
Labels: bug

#347 Add key prop to asciinema replacer
  src/components/editor/markdown-renderer/replace-components/asciinema/asciinema-replacer.tsx
Labels: bug, editor

#356 Fix firefox e2e runs
  cypress.json
Labels: bug, critical

#362 Add .idea directory to .gitignore
  .gitignore
Labels: code quality, ready to merge

#315 Add support for image-proxies by (optional) piping of image urls through the backend
  CHANGELOG.md
  public/api/v2/config
  src/api/backend-config/types.ts
  src/api/imageProxy.ts
  src/components/editor/markdown-renderer/replace-components/image/image-frame.tsx
  src/components/editor/markdown-renderer/replace-components/image/types.ts
  src/redux/backend-config/reducers.ts
Labels: editor, feature

#363 Use twemoji in editor
  src/components/editor/editor-window/editor-window.scss
Labels: editor, enhancement

#370 Move editor test content into separate file
  src/components/editor/editor.tsx
  src/components/editor/editorTestContent.ts
Labels: code quality
