Repository hedgedoc/react-client, pull requests merged in 2021-02, with the labels that each got.

#998 Fix document renderer sizing issues (3/4)
  src/components/markdown-renderer/markdown-renderer.scss
  src/components/render-page/markdown-document.scss
  src/components/render-page/markdown-document.tsx
  src/components/render-page/render-page.tsx
Labels: priority: 1 high, scope: renderer, type: bug

#999 Remove wide mode (4/4)
  CHANGELOG.md
  package.json
  src/components/editor-page/app-bar/help-button/cheatsheet.tsx
  src/components/editor-page/editor-page.tsx
  src/components/editor-page/renderer-pane/render-iframe.tsx
  src/components/markdown-renderer/basic-markdown-renderer.tsx
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/hooks/use-replacer-instance-list-creator.ts
  src/components/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.scss
  src/components/markdown-renderer/replace-components/possible-wider/possible-wider-replacer.tsx
  src/components/markdown-renderer/types.d.ts
  src/components/render-page/iframe-editor-to-renderer-communicator.ts
  src/components/render-page/iframe-renderer-to-editor-communicator.ts
  src/components/render-page/markdown-document.tsx
  src/components/render-page/render-page.tsx
  src/components/render-page/rendering-message.ts
  yarn.lock
Labels: priority: 3 low, scope: renderer, type: feature enhancement

#697 Add custom intro page by fetching markdown content from a file
  .reuse/dep5
  CHANGELOG.md
  cypress/integration/intro.spec.ts
  cypress/integration/link.spec.ts
  cypress/support/getMarkdownRenderer.ts
  public/intro.md
  public/locales/en.json
  public/screenshot.png
  public/screenshot.png.license
  src/components/document-read-only-page/document-read-only-page.tsx
  src/components/editor-page/editor-page.tsx
  src/components/editor-page/renderer-pane/render-iframe.tsx
  src/components/intro-page/cover-buttons/cover-buttons.tsx
  src/components/intro-page/feature-links.tsx
  src/components/intro-page/hooks/use-intro-page-content.ts
  src/components/intro-page/img/screenshot.png
  src/components/intro-page/intro-page.tsx
  src/components/intro-page/requests.ts
  src/components/landing-layout/footer/version-info.tsx
  src/components/landing-layout/navigation/sign-in-button.tsx
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/markdown-it-configurator/FullMarkdownItConfigurator.tsx
  src/components/render-page/hooks/use-image-click-handler.ts
  src/components/render-page/iframe-editor-to-renderer-communicator.ts
  src/components/render-page/iframe-renderer-to-editor-communicator.ts
  src/components/render-page/markdown-document.scss
  src/components/render-page/markdown-document.tsx
  src/components/render-page/render-page.tsx
  src/components/render-page/rendering-message.ts
  src/style/index.scss
  src/style/variables.light.scss
Labels: scope: intro, type: feature enhancement

#1020 Add quote extra plugin
  cypress/integration/quote-extra.spec.ts
  cypress/support/fill.ts
  src/components/common/fork-awesome/types.d.ts
  src/components/markdown-renderer/hooks/use-replacer-instance-list-creator.ts
  src/components/markdown-renderer/markdown-it-configurator/FullMarkdownItConfigurator.tsx
  src/components/markdown-renderer/markdown-it-plugins/parser-debugger.ts
  src/components/markdown-renderer/markdown-it-plugins/quote-extra-color.ts
  src/components/markdown-renderer/markdown-it-plugins/quote-extra.test.ts
  src/components/markdown-renderer/markdown-it-plugins/quote-extra.ts
  src/components/markdown-renderer/replace-components/colored-blockquote/colored-blockquote-replacer.tsx
Labels: priority: 2 medium, type: feature enhancement

#1023 Readd legacy pdf short code markdown it plugin
  cypress/integration/shortcodes.spec.ts
  src/components/markdown-renderer/markdown-it-configurator/FullMarkdownItConfigurator.tsx
Labels: priority: 1 high, scope: renderer, type: bug

#1024 Remove custom abcjs types
  src/components/markdown-renderer/replace-components/abc/abc-frame.tsx
  src/external-types/abcjs/abcjs.d.ts
Labels: type: code quality enhancement

#1026 Don't show i18n messages in production mode
  src/components/application-loader/initializers/i18n.ts
Labels: priority: 3 low, type: feature enhancement

#1027 Improve key compare in rendering
  src/components/markdown-renderer/hooks/use-replacer-instance-list-creator.ts
  src/components/markdown-renderer/replace-components/abc/abc-replacer.tsx
  src/components/markdown-renderer/replace-components/asciinema/asciinema-replacer.tsx
  src/components/markdown-renderer/replace-components/csv/csv-replacer.tsx
  src/components/markdown-renderer/replace-components/flow/flowchart-replacer.tsx
  src/components/markdown-renderer/replace-components/gist/gist-replacer.tsx
  src/components/markdown-renderer/replace-components/graphviz/graphviz-replacer.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-fence-replacer.tsx
  src/components/markdown-renderer/replace-components/katex/katex-replacer.tsx
  src/components/markdown-renderer/replace-components/markmap/markmap-replacer.tsx
  src/components/markdown-renderer/replace-components/mermaid/mermaid-replacer.tsx
  src/components/markdown-renderer/replace-components/one-click-frame/one-click-embedding.tsx
  src/components/markdown-renderer/replace-components/sequence-diagram/sequence-diagram-replacer.tsx
  src/components/markdown-renderer/replace-components/task-list/task-list-replacer.tsx
  src/components/markdown-renderer/replace-components/vega-lite/vega-replacer.tsx
  src/components/markdown-renderer/replace-components/vimeo/vimeo-replacer.tsx
  src/components/markdown-renderer/replace-components/youtube/youtube-replacer.tsx
  src/components/markdown-renderer/utils/html-react-transformer.tsx
Labels: priority: 1 high, status: ready to merge, type: feature enhancement

#1040 Merge basic and full markdown renderer
  src/components/common/simple-alert/simple-alert-props.ts
  src/components/common/wait-spinner/wait-spinner.tsx
  src/components/document-read-only-page/ErrorWhileLoadingNoteAlert.tsx
  src/components/document-read-only-page/LoadingNoteAlert.tsx
  src/components/document-read-only-page/document-read-only-page.tsx
  src/components/editor-page/app-bar/help-button/cheatsheet-line.tsx
  src/components/editor-page/app-bar/help-button/cheatsheet.tsx
  src/components/editor-page/app-bar/help-button/help-button.tsx
  src/components/editor-page/app-bar/help-button/help-modal.tsx
  src/components/editor-page/document-bar/share/share-modal.tsx
  src/components/editor-page/note-frontmatter/note-frontmatter.test.ts
  src/components/editor-page/note-frontmatter/note-frontmatter.ts
  src/components/editor-page/table-of-contents/build-react-dom-from-toc-ast.tsx
  src/components/editor-page/table-of-contents/table-of-contents.tsx
  src/components/editor-page/table-of-contents/toc-slugify.ts
  src/components/intro-page/intro-page.tsx
  src/components/markdown-renderer/basic-markdown-renderer.tsx
  src/components/markdown-renderer/document-length-limit-reached-alert.tsx
  src/components/markdown-renderer/full-markdown-renderer.tsx
  src/components/markdown-renderer/hooks/use-component-replacers.ts
  src/components/markdown-renderer/hooks/use-convert-markdown-to-react-dom.ts
  src/components/markdown-renderer/hooks/use-extract-first-headline.ts
  src/components/markdown-renderer/hooks/use-on-ref-change.ts
  src/components/markdown-renderer/hooks/use-post-frontmatter-on-change.ts
  src/components/markdown-renderer/hooks/use-post-toc-ast-on-change.ts
  src/components/markdown-renderer/hooks/use-trimmed-content.ts
  src/components/markdown-renderer/invalid-yaml-alert.tsx
  src/components/markdown-renderer/markdown-it-configurator/BasicMarkdownItConfigurator.tsx
  src/components/markdown-renderer/markdown-it-configurator/FullMarkdownItConfigurator.tsx
  src/components/markdown-renderer/markdown-it-configurator/MarkdownItConfigurator.tsx
  src/components/markdown-renderer/markdown-it-plugins/document-table-of-contents.ts
  src/components/markdown-renderer/markdown-it-plugins/document-toc.ts
  src/components/markdown-renderer/markdown-it-plugins/frontmatter.ts
  src/components/markdown-renderer/markdown-it-plugins/quote-extra.ts
  src/components/markdown-renderer/replace-components/flow/flowchart/flowchart.tsx
  src/components/markdown-renderer/replace-components/graphviz/graphviz-frame.tsx
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-code/highlighted-code.scss
  src/components/markdown-renderer/replace-components/highlighted-fence/highlighted-code/highlighted-code.tsx
  src/components/markdown-renderer/replace-components/linemarker/line-number-marker.ts
  src/components/markdown-renderer/replace-components/markmap/markmap-frame.tsx
  src/components/markdown-renderer/replace-components/mermaid/mermaid-chart.tsx
  src/components/markdown-renderer/replace-components/task-list/task-list-replacer.tsx
  src/components/markdown-renderer/replace-components/vega-lite/vega-chart.tsx
  src/components/render-page/markdown-document.tsx
  src/components/render-page/render-page.tsx
  src/components/render-page/rendering-message.ts
  src/index.tsx
  src/redux/note-details/methods.ts
  src/redux/note-details/reducers.ts
  src/redux/note-details/types.ts
  src/style/index.scss
Labels: priority: 1 high, scope: renderer, status: ready to merge, type: code quality enhancement

#1025 Add e2e tests for diagrams and embeddings
  cypress/integration/diagrams.spec.ts
  cypress/integration/linkEmbedder.spec.ts
  cypress/integration/shortcodes.spec.ts
  cypress/support/config.ts
  src/components/markdown-renderer/replace-components/flow/flowchart/flowchart.tsx
  src/components/markdown-renderer/replace-components/gist/gist-frame.tsx
  src/components/markdown-renderer/replace-components/graphviz/graphviz-frame.tsx
  src/components/markdown-renderer/replace-components/markmap/markmap-frame.tsx
  src/components/markdown-renderer/replace-components/youtube/youtube-frame.tsx
Labels: type: code quality enhancement

#1056 Change top slide mode button dynamically to read-only-mode
  public/locales/en.json
  src/components/editor-page/app-bar/app-bar.tsx
  src/components/editor-page/app-bar/new-note-button.tsx
  src/components/editor-page/app-bar/read-only-mode-button.tsx
  src/components/editor-page/app-bar/slide-mode-button.tsx
Labels: scope: editor, type: feature enhancement

#1057 Set sanitized note title as filename for download
  package.json
  src/components/editor-page/sidebar/export-markdown-sidebar-entry.tsx
  yarn.lock
Labels: scope: editor, type: feature enhancement
