Repository hedgedoc/react-client, pull requests merged in 2022-08, with the labels that each got.

#2264 Fix size of highlighting if frontmatter is invalid
  src/components/editor-page/editor-pane/linter/frontmatter-linter.spec.ts
  src/components/editor-page/editor-pane/linter/frontmatter-linter.ts
Labels: type: bug

#2259 Don't send frontmatter to renderer
  src/components/document-read-only-page/document-read-only-page-content.tsx
  src/components/editor-page/editor-document-renderer/editor-document-renderer.tsx
  src/components/editor-page/editor-document-renderer/hooks/use-on-scroll-with-line-offset.ts
  src/components/editor-page/editor-document-renderer/hooks/use-scroll-state-without-line-offset.ts
  src/components/editor-page/editor-pane/hooks/image-upload-from-renderer/use-on-image-upload-from-renderer.ts
  src/components/editor-page/renderer-pane/hooks/use-send-frontmatter-info-from-redux-to-renderer.ts
  src/components/editor-page/renderer-pane/render-iframe.tsx
  src/components/editor-page/synced-scroll/scroll-props.ts
  src/components/markdown-renderer/document-markdown-renderer.tsx
  src/components/markdown-renderer/hooks/use-markdown-extensions.ts
  src/components/markdown-renderer/markdown-extension/image-placeholder/image-placeholder-markdown-extension.ts
  src/components/markdown-renderer/markdown-extension/image-placeholder/image-placeholder-replacer.tsx
  src/components/markdown-renderer/markdown-extension/linemarker/add-line-marker-markdown-it-plugin.ts
  src/components/markdown-renderer/markdown-extension/linemarker/linemarker-markdown-extension.ts
  src/components/markdown-renderer/markdown-extension/plantuml/__snapshots__/plantuml-markdown-extension.test.tsx.snap
  src/components/markdown-renderer/markdown-extension/plantuml/plantuml-markdown-extension.test.tsx
  src/components/markdown-renderer/markdown-extension/plantuml/plantuml-markdown-extension.ts
  src/components/markdown-renderer/markdown-extension/task-list/task-list-markdown-extension.ts
  src/components/markdown-renderer/markdown-extension/task-list/task-list-replacer.tsx
  src/components/markdown-renderer/slideshow-markdown-renderer.tsx
  src/components/render-page/iframe-markdown-renderer.tsx
  src/components/render-page/markdown-document.tsx
  src/components/render-page/window-post-message-communicator/rendering-message.ts
  src/components/slide-show-page/slide-show-page-content.tsx
Labels: type: feature enhancement, scope: renderer

#2236 feat: add spell check
  src/components/editor-page/editor-pane/editor-pane.tsx
  src/redux/editor/reducers.ts
  src/redux/editor/types.ts
Labels: type: feature, scope: editor

#2274 Remove feature links on intro page
  locales/en.json
  src/components/intro-page/feature-links.tsx
  src/pages/intro.tsx
Labels: scope: intro, priority: 3 low

#2275 Note Loading Boundary: Replace redirect with refetch from API
  locales/en.json
  src/components/common/note-loading-boundary/__snapshots__/create-non-existing-note-hint.test.tsx.snap
  src/components/common/note-loading-boundary/create-non-existing-note-hint.test.tsx
  src/components/common/note-loading-boundary/create-non-existing-note-hint.tsx
  src/components/common/note-loading-boundary/hooks/use-load-note-from-server.ts
  src/components/common/note-loading-boundary/note-loading-boundary.tsx
Labels: type: bug, priority: 1 high

#2329 Add build version to docker images
  .github/workflows/docker.yml
  Dockerfile
  src/version.json
Labels: priority: 3 low, type: ci/cd
